SECRET_COOKIE_PASSWORD=2gyZ3GDw3LHZQKDhPmPDL3sjREVRXPr8
JWT_KEY=DEV_ONLY_ecgv7R0neAtqqAhMMRAANsGyOet3Evydzlca3dnOoCo4tw7BJ8kbsVUshLvNieFK

# Local Databae for NextJS (If needed)
NEXTJS_DB_HOST="db-nextjs"
NEXTJS_DB_NAME="testdb"
NEXTJS_DB_PORT=5432
NEXTJS_DB_PW="password"
NEXTJS_DB_SCHEMA="public"
NEXTJS_DB_USER="testuser"
NEXTJS_DB_URL=postgresql://${NEXTJS_DB_USER}:${NEXTJS_DB_PW}@${NEXTJS_DB_HOST}:${NEXTJS_DB_PORT}/${NEXTJS_DB_NAME}?schema=${NEXTJS_DB_SCHEMA}

# Strapi
STRAPI_API_TOKEN="0aa58252aeaf03a54e1190c768d7b97b26384ef67aa2532b9020b7535d3e9aa63f9a05b2fdc54a2e82c6b00f513d15b7fd666b3592c45fa9eb243c85ceb2844a77d5a0c1371eb7cd6586a1cba3c1036d0aa809eb5dec2dd15a0fd99704b9cf16cb70f53b53d44ba3c31d45834b28ad597e99d2b5bd7ead107af37f20ed2864ec"
STRAPI_BACKEND_HOST="strapi-backend"
STRAPI_BACKEND_PORT="1337"
STRAPI_BACKEND_URL="http://${STRAPI_BACKEND_HOST}:${STRAPI_BACKEND_PORT}"
STRAPI_API_TIMEOUT=10000
STRAPI_API_AUTH_COOKIE_NAME="strapiApiAuthToken"
STRAPI_API_AUTH_COOKIE_TIMEOUT=900000  # 15 minutes

# AWS S3
S3_ACCESS_KEY=""
S3_SECRET=""
S3_BUCKET=""
S3_REGION=""

RECOIL_DUPLICATE_ATOM_KEY_CHECKING_ENABLED=false
