# ---------------------------------------------------------
# ENVIRONMENT-SPECIFIC SETTINGS
# ---------------------------------------------------------

# Used for naming docker containers to avoid name collisions
PROJECT_NAME=""
IMAGE_PREFIX=""

SECRET_COOKIE_PASSWORD=2gyZ3GDw3LHZQKDhPmPDL3sjREVRXPr8 # Generate a new password

# NOTE: ONLY UNCOMMENT FOR LOCAL DEVELOPMENT SAMPLE DATA.
# NOT FOR PRODUCTION USE.
# INCLUDE_SAMPLE_DATA="-with-sample-data"

# Local Databae for NextJS
NEXTJS_DB_HOST="${IMAGE_PREFIX}-db-nextjs"
NEXTJS_DB_PW="password" # Generate a new password

# Strapi
STRAPI_ADMIN_JWT_SECRET=eyJhbGciOiJIUzI1NiJ9.eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSI6IkphdmFJblVzZSIsImV4cCI6MTY0MDAzMTM2NCwiaWF0IjoxNjQwMDMxMzY0fQ.a9_g0Bkynx4yE-m33BGdDA-PnrdbmDkVZei1JIl_wa4 # Generate a new password
STRAPI_API_TOKEN_SALT=b8b5f1c73147c1235b370d65a026cced
STRAPI_APP_KEYS=0AQz3qBBW5CrwC/YpWTCvA==,J7d2GE+Of8su4Auyxxf0Yw==,CyJP/fk8eoV5aM83I+yaCg==,D6CdVMBw7Tr1iTwGCIx8Nw==
STRAPI_BACKEND_HOST="${IMAGE_PREFIX}-strapi-backend-domain"
STRAPI_BACKEND_PORT=80
STRAPI_JWT_SECRET=bb85a9e3-2fab-44f7-b1c7-d38971e6fe19
STRAPI_NODE_ENV=production

# Strapi DB
STRAPI_DB_CLIENT=postgres
STRAPI_DB_HOST="${IMAGE_PREFIX}-db-strapi"
STRAPI_DB_NAME="strapidb"
STRAPI_DB_PORT=5432
STRAPI_DB_PW="password" # Generate a new password
STRAPI_DB_SCHEMA="public"
STRAPI_DB_USER="strapiuser"

# Nginx
BUILD_REGISTRY=""
ENVIRONMENT="production"
NGINX_CERTIFICATE_NAME="sampleproject-${ENVIRONMENT}"
NGINX_SERVER_NAME="example.cloud.some-domain.com"

# AW
# This is where the docker images get stored
AWS_REPOSITORY=""
