# ---------------------------------------------------------
# ENVIRONMENT-SPECIFIC SETTINGS
# ---------------------------------------------------------

# Used for naming docker containers to avoid name collisions
PROJECT_NAME=""
IMAGE_PREFIX=""

# These are only needed for local development.
# This way you can mount a volume to the source code and have hot reload without permission issues.
# Make these the same as your local user account.
USER_ID=502
GROUP_ID=502

SECRET_COOKIE_PASSWORD=2gyZ3GDw3LHZQKDhPmPDL3sjREVRXPr8

# NOTE: ONLY UNCOMMENT FOR LOCAL DEVELOPMENT SAMPLE DATA.
# NOT FOR PRODUCTION USE.
INCLUDE_SAMPLE_DATA="-with-sample-data"

# Local Databae for NextJS (If needed)
NEXTJS_DB_INITIAL_DATA="init${INCLUDE_SAMPLE_DATA}.sql"
NEXTJS_DB_HOST="${IMAGE_PREFIX}-db-nextjs"
NEXTJS_DB_PW="password"

# Strapi
STRAPI_ADMIN_JWT_SECRET=eyJhbGciOiJIUzI1NiJ9.eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSI6IkphdmFJblVzZSIsImV4cCI6MTY0MDAzMTM2NCwiaWF0IjoxNjQwMDMxMzY0fQ.a9_g0Bkynx4yE-m33BGdDA-PnrdbmDkVZei1JIl_wa4
STRAPI_API_TOKEN_SALT=ebb5418a268971d4edd07d46727a357e
STRAPI_APP_KEYS=jEbyn8IMyC+K3wpUYKqPYQ==,vgc/+1BfjAx4qenqxlIJkA==,hAueS5iU3LOH9VQgNOH3fA==,SgwsJJITgP073o4lN37y0Q==
STRAPI_BACKEND_HOST="${IMAGE_PREFIX}-strapi-backend"
STRAPI_BACKEND_PORT=1337
STRAPI_JWT_SECRET=4f85d7a1-b16b-45fb-821e-ebdd462b5459
STRAPI_NODE_ENV=development

# Strapi DB
STRAPI_DB_CLIENT=postgres
STRAPI_DB_HOST="${IMAGE_PREFIX}-db-strapi"
STRAPI_DB_NAME="strapidb"
STRAPI_DB_PORT=5432
STRAPI_DB_PW="password"
STRAPI_DB_SCHEMA="public"
STRAPI_DB_USER="strapiuser"

# Nginx
BUILD_REGISTRY=""
NGINX_SERVER_NAME="localhost"
ENVIRONMENT="dev"
NGINX_CERTIFICATE_NAME="sampleproject-${ENVIRONMENT}"

# AWS
# This is where the docker images get stored 
AWS_REPOSITORY=""
