/* HAMBURGER ICON ANIMATION for mobile */

span.icon_bar {
  position: absolute;
  right: 12px;
  display: block;
  width: 26px;
  height: 2px;
  background-color: #ffffff;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.icon_bar:nth-child(1) {
  top: 17px;
}

.icon_bar:nth-child(2) {
  top: 24px;
}

.icon_bar:nth-child(3) {
  top: 31px;
}

.nav_toggle {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.nav_toggle.active .icon_bar:nth-child(1) {
  top: 24px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav_toggle.active .icon_bar:nth-child(2) {
  width: 0;
}

.nav_toggle.active .icon_bar:nth-child(3) {
  top: 24px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* NAV OVERLAY for mobile */

.nav_overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.nav_overlay.active {
  opacity: 1;
  visibility: visible;
}

/* NAV OVERLAY MUST BE BEHIND NAV BAR*/

.navigation {
  z-index: 2;
}

/* MEDIA QUERIES */

@media screen and (max-width: 991px) {
  .nav_toggle {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .nav_overlay.active {
    visibility: hidden;
    opacity: 0;
  }
}
